@import 'antd/dist/reset.css';
*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.App h1{
  font-size: 50px;
  font-family: sans-serif;
}

.App p{
  font-size: 20px;
  font-family: sans-serif;
  color: palevioletred;
}

.span{
  font-weight: bold;
  color: rgb(52, 8, 172);
}

.row-category1 {
  background-color: #f0f8ff;
}

.row-category2 {
  background-color: #faebd7;
}

.row-category3 {
  background-color: #ffe4e1;
}

.app-container {
  padding: 20px;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.filters > * {
  margin-right: 10px;
}


/

/* For small screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
 
  .App {
    width: 60%;
  }
}

/* For medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .App {
    width: 80%;
  }
}

/* For large screens (e.g., desktops) */
@media only screen and (min-width: 992px) {

  .App {
    width: 100%;
  }
}
